<%-include ('../layouts/header') %>
  <%-include ('../partials/adminSidebar') %>

  <div class="form-group float-end m-2 d-flex">
    <div class="me-4">
      <input type="text" class="shadow form-control pe-5 me-5" placeholder="Search" id="searchInput" oninput="liveSearch()">
    </div>
    <!-- <button class="btn btn-secondary me-2">SEARCH USER</button> -->
  </div>
    <div class="container m-5 card shadow">
      <div class="d-flex justify-content-between align-items-center">
        <h2>USER LIST</h2>
        
      </div>
      <div class="table-responsive">
        <div class="d-flex justify-content-end align-items-center">
        </div>

        <table class="table  table-bordered table-shadow mt-3" id="usersTable">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user=> { %>
              <tr>
                <td>
                  <%= user._id %>
                </td>
                <td>
                  <%= user.name %>
                </td>
                <% if(user.status==='Active' ){ %>
                  <td class="text-success">
                    <%= user.status %>
                  </td>
                  <% }else{ %>
                    <td class="text-danger">
                      <%= user.status %>
                    </td>
                    <% } %>

                      <td>
                        <% if (user.status==='Active' ) { %>
                          <a href="/admin/blockUser/<%=user._id%>"><button
                              onclick="return confirm('Are you sure you want to  block the user')"
                              class="btn btn-danger ">Block</button></a>
                          <% } else if (user.status==='Blocked' ) { %>
                            <a href="/admin/blockUser/<%=user._id%>"><button
                                onclick="return confirm('Are you sure you want to  unblock the user')"
                                class="btn btn-success">Unblock</button></a>
                            <% } %>
                      </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>


      <% if (users.length> 0) { %>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="text-primary">Showing <%= (currentPage - 1) * perPage + 1 %>-
              <% if(currentPage===totalPages){%>
                <%=totalCount%>
                  <%}else{%>
                    <%= currentPage * perPage %>
                      <%}%>
                        results from <%= totalCount %>
          </p>
          <ul class="pagination">
            <% for (let i=1; i <=totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } %>
          </ul>
        </div>
        <% } else { %>
          <p>No results found.</p>
          <% } %>
    </div>

    <script>
      function liveSearch() {
        const searchInput = document.getElementById('searchInput').value;
        fetch(`live-user-search?q=${searchInput}`)
          .then((response) => response.json())
          .then(data => {

            const usersTable = document.getElementById('usersTable');
            const tbody = usersTable.querySelector('tbody');
            tbody.innerHTML = ''  //clearing the existing rows
            console.log(data);
            data.users.forEach(user => {
              tbody.innerHTML +=
                `<tr>
          <td>${user._id}</td>
          <td>${user.name}</td>
          <td class="text-success">${user.status}</td>
          <td>
            <a href="admin/blockUser/${user._id}">
              <button onclick="return confirm('Are you sure you want to block the user')" class="btn btn-danger">Block</button>
              </a>
              </td>
              </tr>`;
            })

          }).catch(error => {
            console.log(error);
          })
      }
    </script>

    <%-include ('../layouts/footer') %>