<%-include ('../layouts/header') %>
  <%-include ('../partials/adminSidebar') %>

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold cl1">Dishes</h6>
            <div>
                <a href="../admin/getAddCoupon" role="button">
                    <i class="fa fa-plus-circle cl1"></i><span class="pl-2">Add New
                        Coupon</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Coupon Name</th>
                            <th>Coupon Code</th>
                            <th>Discount (%)</th>
                            <th>Use count</th>
                            <th>Orders above</th>
                            <th>Maximum Discount</th>
                            <th>Expiry Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <% coupon.forEach((coupon)=> { %> -->
                            <tr>
                                <td>
                                    <!-- <%= coupon.couponName %> -->
                                </td>
                                <td>
                                    <!-- <%= coupon.couponCode %> -->
                                </td>
                                <td>
                                    <!-- <%= coupon.discount%> -->
                                </td>
                                <td>
                                    <!-- <%= coupon.maxUseCount %> -->
                                </td>
                                <td>
                                    <!-- <%= coupon.ordersAbove%> -->
                                </td>
                                <td>
                                    <!-- <%= coupon.maximumDiscountableAmount%> -->
                                </td>
                                <td width="20%">
                                    <!-- <% let expiryDate = coupon.expiryDate.toString()%>
                                    <%= expiryDate.substring(0, 16)%> -->
                                </td>
                                <td width="15%">
                                    <!-- <a href="../admin/editCoupon?id=<%=coupon._id%>">Edit</a>
                                    <a href="../admin/deleteCoupon?id=<%=coupon._id%>" class="pl-2">Delete</a> -->
                                </td>
                            </tr>
                            <!-- <% }) %> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<%-include ('../layouts/adminFooter') %>